
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}


body {
  background: linear-gradient(to right, #6ee5d5, #c5e8ea); /* Gradient Background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-image: url(/public/bg.jpg);
}

/*  App Container */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.TodoWrapper {
  width: 100%;
  max-width: 500px;
  background: rgba(245, 134, 117, 0.9); /* Light Glass Effect */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 15px;
  color: #333;
}


.TodoForm {
  display: flex;
  gap: 10px;
}

.todo-input {
  flex: 1;
  padding: 12px;
  border: 2px solid #f177ba;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.todo-btn {
  padding: 12px 15px;
  background-color: #28a745;
  color: rgb(252, 245, 249);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.todo-btn:hover {
  background-color: #218838;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(239, 175, 187);
  padding: 12px;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.Todo p {
  cursor: pointer;
  flex: 1;
  text-align: left;
  font-size: 16px;
  color: #333;
}

.Todo p.completed {
  text-decoration: line-through;
  color: gray;
}


.Todo div {
  display: flex;
  gap: 10px;
}

.Todo svg {
  cursor: pointer;
  color: #555;
  transition: 0.3s;
}

.Todo svg:hover {
  color: #d9534f;
}

@media (max-width: 500px) {
  .TodoWrapper {
    width: 90%;
  }
}
